.jumbotron{
	background-color: limegreen;
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: #81CCF9;
	margin-top: 1rem;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}